/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93291e, #ed213a);
}
