/* homepage */
.container {
  margin-top: 100px;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.countryName {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  align-items: center;
  @include pad {
    grid-column: 6/8;
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
}
.DetailTitle {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  @include pad {
    grid-column: 1/13;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    p {
      text-align: right;
    }
  }
}
.DetailTitle div:nth-child(even) {
  color: red;
}
